<h1>Friends Index</h1>
<ul>
 {{#each model as |friend|}}
    <li>
        {{!-- {{#link-to 'friends.show' friend.id}} {{friend.firstName}} {{friend.lastName}} {{/link-to}} --}}
        {{link-to friend.fullName 'friends.show' friend}}
    </li>
{{/each}}
</ul>
